* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --boxShadow-color: #80808099;
  --text-color: #80b3ff;
  --bg-color: #b6fffa;
  --dg-text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  box-shadow: 1px 2px 1px var(--boxShadow-color);
  padding: 10px;
}
header button,
.project button {
  background-color: var(--bg-color);
  border: 1px solid var(--boxShadow-color);
  border-radius: 10px;
  box-shadow: 0px 1px var(--boxShadow-color);
  color: #80b3ff;
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  gap: 20px;
}

.project {
  box-shadow: 2px 2px 1px var(--boxShadow-color);
}
.projectButtons {
  padding: 5px;
  display: flex;
  gap: 5px;
}
.projectButtons > button {
  padding: 5px;
}
.todoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.todo > div:nth-child(2) {
  display: grid;
  text-align: center;
  padding-right: 5px;
}

dialog {
  margin: auto;
  padding: 10px;
  background-color: #80b3ff;
  border: 0;
}
fieldset {
  color: var(--dg-text-color);
  padding: 10px;
  border: 0;
}

form {
  display: grid;
  gap: 20px;
}

form button {
  background-color: #80b3ff;
  color: var(--dg-text-color);
  border-radius: 10px;
  padding: 5px;
  border: 1px solid var(--dg-text-color);
}

#todo {
  border-radius: 10px;
  width: 300px;
}
form label {
  display: block;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
}
.priority {
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 2px 1px #ffffff4a;
}
.priority label {
  display: inline;
}

.wrapperLeft {
  display: grid;
}

.wrapperLeft button {
  width: 50px;
}
